<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="FriendGatherer.FriendGatherer" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk />
	<application android:label="FriendGatherer" android:icon="@drawable/Icon">
    <receiver android:name="friendwrangler.droid.SmsBroadcastReceiver"  android:enabled="true" android:exported="true">
      <intent-filter>
        <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" />
      </intent-filter>
    </receiver>
    
  </application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
</manifest>